/* ---------------------------------- */
/* colors */
/* ---------------------------------- */
.red { margin: 0 0 35px 0; }

/* ---------------------------------- */
/* background image */
/* ---------------------------------- */
body { 
	background-image: url('../images/njdevils.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

/* ---------------------------------- */
/* start button */
/* ---------------------------------- */
#custom-btn {
	padding: 50px;
	font-size: 250%;
	margin: 100px 0 0 0;
}

/* ---------------------------------- */
/* jumbotron */
/* ---------------------------------- */
#custom-jumbo { height: 100%; }

/* ---------------------------------- */
/* counter */
/* ---------------------------------- */
#counter-div { font-size: 300%; }

/* ---------------------------------- */
/* radio buttons */
/* ---------------------------------- */
input[type="radio"]{ margin: 0 10px 0 0; }